---
import Layout from '../layouts/Layout.astro';
import ChangePasswordForm from '../components/auth/ChangePasswordForm.vue';
---

<Layout title="Changer de mot de passe">
  <main class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <ChangePasswordForm client:load />
  </main>
</Layout>
