---
import NavigationBar from '../components/layout/NavigationBar.astro';
import HeroSection from '../components/landing/HeroSection.astro';
import EventsSection from '../components/landing/EventsSection.astro';
import UpcomingMatchesSection from '../components/landing/UpcomingMatchesSection.astro';
import Footer from '../components/layout/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="CCSLR St Joseph Basketball Club">
  <NavigationBar />
  <main>
    <HeroSection />
    <EventsSection />
    <UpcomingMatchesSection />
  </main>
  <Footer />
</Layout>
