---
import Layout from "../layouts/Layout.astro";
import ResetPasswordForm from "../components/auth/ResetPasswordForm.vue";
---

<Layout title="Réinitialisation du mot de passe">
    <main
        class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
    >
        <ResetPasswordForm client:load />
    </main>
</Layout>
